<html>
    <head>
        <title>Using Template Includes</title>
    </head>
<body>
        
        {% url "mymodels_list" as page_url %}
        {% with page_url=page_url %}
            {% include loadpage_elems.html %}
        {% endwith %}

    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script>
        {% with page_url=page_url %}
            {% include loadpage.html %}
        {% endwith %}
    </script>
</html>
